# Set

A set is a group of unordered, unique elements. The set itself can be modified, by adding or removing elements, but said elements cannot be modified themselves, meaning once inside, they cannot be changed.

## Creation

### Using the set keyword

A set may be created from any iterable element, be it a list, string, tuple or any other object that is iterable.

In [5]:
test_tuple = 213,434,'potato'
test_list = [213,345,'potato']
test_string = 'many potatoes'
tuple_set = set(test_tuple)
list_set = set(test_list)
string_set = set(test_string)

In [7]:
tuple_set

{213, 434, 'potato'}

In [8]:
list_set

{213, 434, 'potato'}

In [9]:
string_set

{' ', 'a', 'e', 'm', 'n', 'o', 'p', 's', 't', 'y'}

In [14]:
simple_set = {'this','is','a','set',test_tuple}

In [15]:
simple_set

{(213, 434, 'potato'), 'a', 'is', 'set', 'this'}

Do beware that, because sets are unordered, when retrieving it, elements may not be in the same order as when declared. This is not an error, just expected behaviour.
As demonstrated, set elements can be of many types but they do have one requirement, they must be hashable. To know this, you must refer to official Python documentation, but in general if an object is mutable it isn't hashable.

## Membership testing

In [16]:
test_tuple in simple_set

True

## Set operations

### Union

When uniting two sets, repeated elements will be shown only once in the resulting set.

In [17]:
simple_set | string_set

{' ',
 (213, 434, 'potato'),
 'a',
 'e',
 'is',
 'm',
 'n',
 'o',
 'p',
 's',
 'set',
 't',
 'this',
 'y'}

As you can see, the letter 'a' only appears once. Union can also be performed with the union method. However, | will only function if both sides are sets. union() works even if just one is a set and the other and iterable.
Both method may receive as many sets as desired.

### Intersection

Only the elements shared between sets are returned.

In [18]:
simple_set&string_set

{'a'}

In [19]:
simple_set.intersection(string_set)

{'a'}

In [20]:
simple_set.intersection(['a','b','c'])

{'a'}

## Set modification

### Augmented operators

The set operators also have an update variant, each of which deposit the result of the operation in the first set.

In [22]:
simple_set|=string_set #Same as union, but updates first set as well.
simple_set

{' ',
 (213, 434, 'potato'),
 'a',
 'e',
 'is',
 'm',
 'n',
 'o',
 'p',
 's',
 'set',
 't',
 'this',
 'y'}

In [26]:
simple_set = {'this','is','a','set',test_tuple}
simple_set&=string_set
simple_set

{'a'}

### Traditional operators

I call these traditional as they are what you would expect in other structures such as lists.

#### Add

In [31]:
simple_set.add('z')
simple_set

{'a', 'z'}

#### Remove

Attempts to remove the element. If it's not present, an exception will be thrown.
A no exception alternative would be discard().

In [32]:
simple_set.remove('z')
simple_set

{'a'}

#### Clear

Removes all elements from a given set.

In [34]:
simple_set.clear()
simple_set

set()

## Frozen Sets

This are sets that are, in theory, inmutable.

In [35]:
frozen = frozenset(['a','b','c'])
frozen.add('z')

AttributeError: 'frozenset' object has no attribute 'add'

It would seem like they are, indeed, inmutable. However, there's a way around this limitation.
Augmented operators can, apparently modify a set.

In [37]:
frozen|={'z'}
frozen

frozenset({'a', 'b', 'c', 'z'})

What's the catch? They original set is not really being modified. A new set, with all the elements, is being created and the address to which frozen points is being switched to the new set's address, giving the illusion of an update.