# Serialization (Pickle & HDF5)
##### https://www.datacamp.com/community/tutorials/pickle-python-tutorial
The process to convert memory data into other format data that can be storage
The formats can be JSON,csv,plain text and more

# 1) Pickle
It is a object that allows serializing and de-serializing  
It is a Python standar, so it will not work on other lenguages aproach, keep that on mind
Booleans,  
Integers,  
Floats,  
Complex numbers,  
(normal and Unicode) Strings,  
Tuples,  
Lists,  
Sets, and Dictionaries that ontain picklable objects.

## Pickling a list

In [ ]:
import pickle

myList = [1,2.2,"Hello World",True,]

filename = 'C:\\Users\\asge\\Desktop\\list'

outfile = open(filename,'wb') #Creating a stream for serialization, 'wb' stands for writting & binary

pickle.dump(myList,outfile) #Actual serialization

outfile.close() # Close the stream

## Unpickling the list

In [ ]:
infile = open(filename,'rb') # 'rb' stands for reading & binary

fromPickledList = pickle.load(infile) #open the stream

infile.close()

print(fromPickledList)

## Pickling classes

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def __repr__(self):
        return f'{{Name: {self.name} Age:{self.age}}}'
        
    def __str__(self):
        return f'{{Name: {self.name} Age:{self.age}}}'
       
        
person = Person('Andres',23)
print(person)

filename = 'C:\\Users\\asge\\Desktop\\person'
outfile = open(filename,'wb') #Creating a stream for serialization, 'wb' stands for writting & binary

pickle.dump(person,outfile) #Actual serialization

outfile.close() # Close the stream

## Unpicling a object

In [ ]:
infile = open(filename,'rb') # 'rb' stands for reading & binary

fromPickledObject = pickle.load(infile) #open the stream

infile.close()

print(fromPickledObject)

# 2) HDF5
HDF5 is a unique technology suite that makes possible the management of extremely large and complex data collections.
https://support.hdfgroup.org/HDF5/examples/intro.html#python

In [ ]:
import numpy as np
import h5py

In [ ]:
a = np.arange(10000).reshape(100,100)
a

## Creating a file, save it and recover it

In [ ]:
filepath = 'C:\\Users\\asge\\Desktop\\dset.h5'

file = h5py.File(filepath,'w') # w stands for writing
dataset = file.create_dataset("dset",data=a)

print ("Dataset dataspace is", dataset.shape)
print ("Dataset Numpy datatype is", dataset.dtype)
print ("Dataset name is", dataset.name)
print ("Dataset is a member of the group", dataset.parent)
print ("Dataset was created in the file", dataset.file)
#
# Close the file before exiting
#
file.close()

#### Reading a file

In [ ]:
file = h5py.File(filepath,'r') # r stands for reading
print( file.keys() ) # prints the list of data we save into ahore file .h5
m = file.get('dset')
m = np.array(m)
print(m)
file.close()

## Groups
Set of data can be grouped depending of the logic you need  
The next histogram will be necessary for the next example

Inspired by https://www.youtube.com/channel/UCNYv4HA3WjV3gZGLfBehRWQ

In [1]:
import numpy as np
import matplotlib.pyplot as plt

v = np.random.random(10000)

plt.hist(v, bins=50, density=1)       # matplotlib version (plot)

plt.show()

#### Creating a group

In [ ]:
with h5py.File(filepath,'w') as hdf5:
    #Creating groups
    matrixesGroup = hdf5.create_group('matrixes')
    histogramsGroup = hdf5.create_group('histograms')
    #Inserting data into the groups
    matrixesGroup.create_dataset('matrix1000',data=np.arange(10000).reshape(100,100));
    matrixesGroup.create_dataset('matrix2000',data=np.arange(20000).reshape(200,100));
    #
    histogramsGroup.create_dataset('randomHistogram', data=v)

#closing file is no longer necessesary 
#file.close()

#### Reading from groups

In [ ]:
with h5py.File(filepath,'r') as hdf5:
    #Getting all the groups
    groupItems = list(hdf5.items())
    print('Items: ', groupItems, sep=' - ')
    
    #Getting the groups printed above
    histograms = hdf5.get('histograms')
    myHistogram = histograms.get('randomHistogram')
    myHistogram = np.array(myHistogram)
    #Showing the histogram
    plt.hist(myHistogram, bins=50, density=1)       # matplotlib version (plot)
    plt.show()
    
    #Recover from the other group
    matrixes = hdf5.get('matrixes')
    matrix1000 = np.array(matrixes.get('matrix1000')) #converting into an array
    
    print(matrix1000)

## HDF5 using Pandas

In [2]:
import pandas as pd

#### Creating a dataframe in order to save int a HDF5 file

In [3]:
example_dict = {
    'name' : ["annie", "bob", "charlie", "damon", "erick","fry", "goldman"],
    'age' : [20,27, 35, 55, 18, 21, 35],
    'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]
}

In [4]:
pandas_dataframe = pd.DataFrame(example_dict)
pandas_dataframe

      name  age designation
0    annie   20          VP
1      bob   27         CEO
2  charlie   35         CFO
3    damon   55          VP
4    erick   18          VP
5      fry   21         CEO
6  goldman   35          MD

In [19]:
from pandas import HDFStore
filepath = 'C:\\Users\\asge\\Desktop\\pandas1.h5'
pandas_dataframe.to_hdf(filepath, key='df')

In [20]:
pd.read_hdf(filepath, 'df')

      name  age designation
0    annie   20          VP
1      bob   27         CEO
2  charlie   35         CFO
3    damon   55          VP
4    erick   18          VP
5      fry   21         CEO
6  goldman   35          MD